#Options +FollowSymlinks
RewriteEngine on

Options -indexes

ErrorDocument 401 http://localhost/
ErrorDocument 403 http://localhost/
# ErrorDocument 404 http://localhost/rondbit/Welcome
ErrorDocument 500 http://localhost/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
